<div id="mini-login" class="block minilogin-wrapper"  data-block="mini_login" data-bind="scope: 'mini_login_content'">
    <?php if($block->isLoggedIn()): ?>
        <?php $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams()); ?>
        <a class="action showlogin" href="javascript:void(0)" data-trigger="authentication" title="<?php echo __('My account') ?>"><span></span></a>
        <div class="block-authentication swipe-minilogin"
             data-mage-init='{"magestorm/pushdata":{}}'>
            <div class="block block-customer-logged">
                <div class="block-content">
                    <ul>
                        <li><a href="<?php echo $this->getUrl('customer/account/') ?>" title="<?php echo __('My Account') ?>"><?php echo __('My Account') ?></a></li>
                        <li><a href="<?php echo $this->getUrl('wishlist/') ?>" title="<?php echo __('My Wish Lists') ?>"><?php echo __('My Wish Lists') ?></a></li>
                        <li><a href="<?php echo $this->getUrl('customer/account/logout/') ?>" <?php /* @escapeNotVerified */ echo $dataPostParam; ?> title="<?php echo __('Sign Out') ?>"><?php echo __('Sign Out') ?></a></li>
                    </ul>
                </div>
            </div>
        </div>
    <?php else: ?>
    <?php echo $block->getBlockHtml('formkey'); ?>
    <a class="action showlogin" data-trigger="authentication" href="javascript:void(0)" title="<?php echo __('Sign In') ?>"><span data-bind="i18n: 'Sign In'"></span></a>
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script>
        window.customerData = [];
    </script>
    <script type="text/x-magento-init">
    {
        "#mini-login": {
            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout(); ?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?php /* @escapeNotVerified */echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
        }
    }
    </script>
    <?php endif; ?>
</div>


