// ------------------------------------
// Extends Class
// ------------------------------------
.minilogin-wrapper .action.showlogin:before,
.minilogin-wrapper .push-close:before{
    &:extend(.abs-icon-base);
}

.minilogin-wrapper .block-authentication{
    &:extend(.abs-dropdown-content all);
}

.block-customer-login .actions-toolbar .action.action-register{
    &:extend(.abutton);
    &:extend(.abs-button-type3 all);
}

.block-customer-logged  ul{
    &:extend(.abs-list-reset);
}

.minilogin-wrapper .action.showlogin span{
    &:extend(.abs-visually-hidden all);
}


// ------------------------------------
// Variables
// ------------------------------------
@minilogin__link__color: #333;
@minilogin__link__hover__color: #68a8e0;

@minilogin__icon__content: "\e902";

@minilogin-push-close__background: #303030;

@minilogin__background: @color-white;
@minilogin__width__m: 275px;
@minilogin__width__l: 320px;

@minilogin-title__color: #333;

// ------------------------------------
// Css
// ------------------------------------
// common
& when (@media-common = true){
    .minilogin-wrapper{
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width:50px;
        margin-bottom:0;
        .action.showlogin{
            color: @minilogin__link__color;
            text-decoration: none;

            &:hover{
                color: @minilogin__link__hover__color;
            }

            .lib-icon-font(
                @_icon-font-content: @minilogin__icon__content,
                @_icon-font-position: before,
                @_icon-font-margin: 0,
                @_icon-font-color: #333,
                @_icon-font-display: inline-block
            );

            &:before{
                cursor: pointer;
                color: inherit;
                font-weight: normal;
                margin: 0;
            }
        }

        &:hover{
            .action.showlogin:before{
                color: @minilogin__link__hover__color;
            }
        }

        .block-authentication{
            display:none;
            background-color:@color-white;
            &:after{
                position: absolute;
            }
        }

        .push-close{
            position: fixed;
            width: 45px;
            height: 100%;
            right: 0;
            background: @minilogin-push-close__background;
            z-index: 102;
            top: 0;
            cursor: pointer;
            text-align: center;

            &:before{
                font-size: 25px;
                line-height: inherit;
                color: @minilogin__link__color;
                content: @minilogin__icon__content;
                vertical-align: middle;
                display: inline-block;
                font-weight: normal;
                margin-top: @indent__base;
            }
        }
    }

    .block-customer-login{
        width: 100%;

        .block-title{
            text-transform: uppercase;
            color: @minilogin-title__color;
            margin: 0 0 @indent__s;
            text-align:left;
        }

        .actions-toolbar{
            width: 100%;

            .action{
                width: 100%;
                text-transform: uppercase;
                font-weight:@font-weight__bold;
            }

            .action.action-login{
                margin-bottom: @indent__base;
            }

            .action.action-register {
                text-align: center;
            }
        }

        .forgot-password-form{
            text-align: right;
            margin: -@indent__l 0 @indent__l;
        }

        .form-forgotpwd{
            padding:  @indent__xl 0 0;
            position: relative;

            &:before{
                content: '';
                position: absolute;
                left: 50%;
                top: 24px;
                margin-left: -45px;
                width: 90px;
                height: 1px;
                background: #ccc;
            }

            .fieldset{
                margin-bottom: @indent__base;
            }

            .fieldset .field.note{
                line-height: 18px;
                margin-bottom: @indent__s;
            }
        }
    }

    .block-customer-logged{
        text-align: left;

        li{
            margin: 0;
        }
    }

    .toggle-login-close{
        display: none;
    }

    .login-before-open{
        overflow: hidden;

        .page-wrapper{
            .lib-css(transition,left .7s,1);
            position: relative;
            left: 0;
        }

        .minilogin-wrapper{
            .block-authentication{
                background: @minilogin__background;
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                z-index: 100;
                overflow-x: hidden;
                display: block;
                text-align: left;
                left: -100%;
                padding-right: 65px;
                .lib-css(transition,left .7s,1);
            }
        }

        .push-close{
            opacity:0;
            .lib-css(transition,opacity .7s,1);
        }

        &.push.right{
            .page-wrapper{
                right: 0;
                left: auto;
                .lib-css(transition,right 0.7s,1);
            }

            .minilogin-wrapper{
                .block-authentication{
                    padding-left: 65px;
                    padding-right: 18px;
                    right: -100%;
                    left: auto;
                    .lib-css(transition,right 0.7s,1);
                }
            }

            .push-close{
                left: 0;
                right: auto;
            }
        }
    }

    .login-open{
        .page-wrapper{
            left: 100%;
        }

        .minilogin-wrapper{
            .block-authentication {
                left: 0;
            }
        }

        .push-close{
            opacity: 1;
        }

        &.push.right{
            .page-wrapper{
                right: 100%;
            }

            .minilogin-wrapper{
                .block-authentication{
                    right: 0;
                }
            }
        }
    }
}

// <768
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .minilogin-wrapper{
        right: 60px;
        top: 25px;

        .block-authentication{
            padding: @indent__base;

            &:before{
                top: 4px;
                right: 78px;
                display: none;
            }

            &:after{
                height: 16px;
                width: 40px;
                top: -20px;
                right: 49px;
            }
        }
    }

    .block-customer-logged{
        padding: @indent__xs 0 0 @indent__xs;
    }
}

// <1024
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .minilogin-wrapper{
        .action.showlogin{
            &:before{
                font-size: (@font-size__l + 1);
                line-height: 21px;
            }
        }
    }

    .block-customer-login{
        .block-title{
            font-size: @font-size__l;
        }

        .actions-toolbar .action.action-register {
            line-height: 32px;
        }
    }
}

// >=768
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m){
    .minilogin-wrapper {
        .block-authentication{
            position: absolute;
            box-shadow: 1px 1px 5px #ccc;
        }
        &:hover{
            .block-authentication{
                display: block;
            }
            .block.block-customer-login:before{
                content: "";
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid white;
                position: absolute;
                top: -10px;
                right: 14px;
            }
        }

        &.active {
            .block-authentication{
                display: block;
            }

            .action.showlogin:before{
                color: #F16321;
            }
        }

        .push-close{
            display: none;
        }
    }
    .minilogin-wrapper .action.showlogin{
        padding: 2px 15px 12px 16px;
    }

}

// [768-1023]
.media-minmax-width(@break-min, @break-max) when (@break-min = @screen__m) and (@break-max = @screen__l) {
    .minilogin-wrapper{
        right: 67px;
        top: 31px;

        .block-authentication{
            width: @minilogin__width__m;
            padding: @indent__m @indent__base @indent__m;
            right: -59px;
            top: 42px;

            &:before{
                top: 4px;
                right: 35px;
            }

            &:after{
                height: 20px;
                width: 100%;
                top: -20px;
                right: 0;
            }
        }
    }
}

// >=1024
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .minilogin-wrapper{


        .action.showlogin{
            &:before{
                font-size: 25px;
                line-height: 27px;
            }
        }

        .block-authentication{
            width: @minilogin__width__l;
            padding: (@indent__base - 5px) @indent__base @indent__base;
            right: 0px;
            top: 40px;

            &:before{
                top: 4px;
                right: 78px;
            }

            &:after{
                right: 0;
                top: -30px;
                width: 100%;
                height: 30px;
            }
        }
    }

    .block-customer-login{
        .block-title{
            font-size: 20px;
        }

        .actions-toolbar .action.action-register {
           // line-height: 36px;
        }
    }
}
